.app__navbar {
    position: relative;
    z-index: 20;
    background-color: rgba(255, 251, 251, 0.9);
    border-top: 1px solid rgba($color: #950740, $alpha: 0.6);
    border-bottom: 1px solid rgba($color: #950740, $alpha: 0.6);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 4em;

    @media screen and (max-width: 500px) {
        padding: 0.5rem 3rem;
    }
}
.app__navbar-toggle {
    height: 35px;
    width: auto;
    color: #950740;

    cursor: pointer;
    &:hover {
        color: #161515;
    }
}
