$staticC: black;
$animatedC: var(--color-accent);
.loader {
    text {
        alignment-baseline: middle;
        text-anchor: middle;
    }

    .static {
        fill: $staticC;
    }
    .animated {
        fill: $animatedC;
    }
}
