.cardContainer {
    background-color: brown;
    border: 1px solid black;
    display: flex;
}

.filmImage {
    height: 480px;
    width: 100%;
    object-fit: cover;
}

.lowOpacity {
    opacity: 0.3;
}

.cardDetails {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cardButton {
    padding-top: 10px;
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #1a1a1d;
    color: #950740;
    border: 2px solid #950740;
}

.cardButton > a {
    color: #950740;
}

.cardButton:hover {
    background-color: #1a1a1d;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.cardButton:hover > a {
    color: #ffffff;
}
