.app__listform {
    background-color: rgb(255, 251, 251);

    color: #1c1b1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    max-width: 100vw;
}

.app__listform-films {
    margin-bottom: 1em;
}
