.app__filmscarousel {
    background-color: black;
    border: 2px solid #950740;
    margin-bottom: 3em;
    padding-bottom: 1em;
}

.app__filmscarousel-title {
    color: hsl(209, 28%, 39%);
}

.app__filmscarousel-creator {
    margin-left: 0.5em;
    color: hsl(209, 61%, 16%);
}
