.app__header {
    background-color: transparent;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    padding: 5rem;
}

.app__header-info {
    display: grid;
    justify-content: center;
    align-items: center;

    // border: 1px solid white;
    h1 {
        text-transform: none;
        max-width: 500px;
        margin-bottom: 1rem;

        @media screen and (min-width: 800px) {
            font-size: 3rem;
        }
        @media screen and (min-width: 1200px) {
            max-width: 100%;
            font-size: 4rem;
        }
    }
    p {
        max-width: 35em;
        line-height: 1.8;
        @media screen and (min-width: 800px) {
            font-size: 1.25rem;
        }
    }
    button {
        justify-self: flex-start;
    }
}
.app__header-footer {
    align-self: center;
    display: flex;

    justify-content: flex-start;
}
