.app__header {
    background-color: rgba($color: #e9e1e4, $alpha: 0.3);
    border: 2px solid black;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr;
    padding: 5rem;
}

.app__header-info {
    display: grid;
    justify-content: center;
    align-items: center;

    // border: 1px solid white;
    h1 {
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: none;
        max-width: 500px;
        margin-bottom: 1rem;
        color: rgb(33, 32, 32);
        font-family: "Futura Md BT", sans-serif;
        font-weight: 300;
        font-style: normal;

        @media screen and (min-width: 800px) {
            font-size: 3rem;
        }
        @media screen and (min-width: 1200px) {
            max-width: 100%;
            font-size: 4rem;
        }
    }
    p {
        max-width: 35em;
        line-height: 1.8;
        color: #313131;
        // text-align: center;
        @media screen and (min-width: 800px) {
            font-size: 1.25rem;
        }
    }
    button {
        justify-self: center;
        width: 30vw;
        min-width: 50px;
        a {
            color: white;
        }
    }
}
.app__header-footer {
    align-self: center;
    display: flex;

    justify-content: flex-start;
}
