.app__navbar-logout-btn {
    background-color: #950740;
    color: #1a1a1d;
    border: 2px solid #1a1a1d;

    &:hover {
        background-color: var(--clr-btn-hover-bg-2);
        color: var(--clr-btn-hover-text-1);
        border: 2px solid #ffffff;
    }
}

.test__btn {
    color: #fff;
    background-color: #1c1b1b;
    border-radius: 0%;
    padding: var(--btn-padding-x) var(--btn-padding-y);
    font-family: "Futura Md BT", sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    line-height: normal;
    border: 2px solid;
    border-radius: 1;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: 300;
    font-style: normal;

    &:hover {
        background-color: var(--clr-btn-hover-bg-2);
        color: #1c1b1b;
        border: 2px groove rgba($color: #1c1b1b, $alpha: 0.8);
    }
}
