.app__navbar {
    background-color: black;
    border-bottom: 1px solid rgba($color: #fefefe, $alpha: 0.1);
}

.app__navbar-logo {
    width: 40px;
    height: 40px;
    color: #950740;
}

.app__navbar-title {
    color: white;
    margin-left: 1em;
    font-size: larger;
    letter-spacing: 0.1em;
}

.app__navbar-user {
    font-weight: bold;
    color: white;
    font-size: medium;
    margin-right: 1em;
}

.app__navbar-logout-btn {
    background-color: #950740;
    color: #1a1a1d;
    border: 2px solid #1a1a1d;
    margin-left: 1em;
    &:hover {
        background-color: var(--clr-btn-hover-bg-2);
        color: var(--clr-btn-hover-text-1);
        border: 2px solid #ffffff;
    }
}
