.app__navbar {
    position: relative;
    background-color: rgba(255, 251, 251, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 7rem;
    z-index: 10;
    border-top: 1px solid rgba($color: #950740, $alpha: 0.6);
    border-bottom: 1px solid rgba($color: #950740, $alpha: 0.6);
    .app__navbar-links-container {
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3em;
        padding: 0.25rem 0.5rem;
        .app__navbar-links {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 4em;
        }
        .app__navbar-user {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            gap: 1em;
            h4 {
                margin-bottom: 0;
                font-weight: bold;
                color: #1c1b1b;
                font-size: medium;
            }
        }
    }
    @media screen and (max-width: 500px) {
        padding: 0.5rem 3rem;
    }
}
.app__navbar-toggle {
    height: 35px;
    width: auto;
    color: #950740;

    cursor: pointer;
    &:hover {
        color: #161515;
    }
}

.app__navbar-logout-btn {
    background-color: #950740;
    color: #1a1a1d;
    border: 2px solid #1a1a1d;

    &:hover {
        background-color: var(--clr-btn-hover-bg-2);
        color: var(--clr-btn-hover-text-1);
        border: 2px solid #ffffff;
    }
}

.test__btn {
    color: #fff;
    background-color: #1c1b1b;
    border-radius: 0%;
    padding: var(--btn-padding-x) var(--btn-padding-y);
    font-family: "Futura Md BT", sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    line-height: normal;
    border: 2px solid;
    border-radius: 1;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: 300;
    font-style: normal;

    &:hover {
        background-color: var(--clr-btn-hover-bg-2);
        color: #1c1b1b;
        border: 2px groove rgba($color: #1c1b1b, $alpha: 0.8);
    }
}
