.filmlist {
    display: grid;
    //medium, big screen displays
    @media (min-width: 45rem) {
        text-align: left;
        grid-template-columns: 1fr 6fr;
        &__footer {
            display: flex;
            flex-direction: column;
        }
    }
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;
    background-color: whitesmoke;
    border-radius: 0.1em 0 0 0.1em;
    padding: 0.5em;
    font-size: 12px;
    border: 1px solid black;
    grid-row: 2;

    &-desc {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
    }
    &-cta {
        margin-top: auto;
        display: flex;
        gap: 1em;
        svg {
            width: 20px;
            height: 20px;
        }
    }
    @media (min-width: 45rem) {
        grid-row: 1;
        border-right: none;
        padding: 1.5em;
        &-desc {
            flex-direction: column;
            align-items: center;
            gap: 0.5em;
        }
    }
}
