.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: -1;
}

.showModal {
    visibility: visible;
    z-index: 10;
}

.modalContainer {
    background-color: black;
    border: 2px solid #950740;
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;
    min-width: 45vw;
    max-width: 65vw;
}

.modalHeader {
    color: white;
    display: flex;
    justify-content: space-between;
}

.modalBody {
    background-color: black;
}

.closeBtn {
    color: white;
    border-color: transparent;
    cursor: pointer;
    align-self: center;
    justify-self: flex-end;
}
