.app__listform {
    background-color: rgb(255, 251, 251);
    color: #1c1b1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
}

.app__listform-title {
    margin-bottom: 1em;
}

.app__listform-films {
    margin-bottom: 1em;
}
