.mainContainer {
    background-color: black;
    border: 2px solid #950740;
    margin-bottom: 3em;
    padding-bottom: 1em;
}

.swipperContainer {
    padding: 0;
    margin: 0;
}

.listTitle {
    color: hsl(209, 28%, 39%);
}

.listCreator {
    margin-left: 0.5em;
    color: hsl(209, 61%, 16%);
}

.myBtn {
    background-color: var(--clr-btn-bg-1);
    color: var(--clr-btn-text-1);
    border: var(--clr-btn-border-1);
    margin-left: 0.5em;
}

.myBtn:hover {
    background-color: var(--clr-btn-hover-bg-1);
    color: var(--clr-btn-text-1);
    border: var(--clr-btn-hover-border-1);
}

.myBtn:hover > a {
    color: var(--clr-btn-hover-text-1);
}

.myBtn > a {
    color: var(--clr-btn-text-1);
}
