.carousel__card-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.8em;
    background-color: #1c1b1b88;
}

.card__link {
    color: var(--color-accent);
    border-bottom: 0.8px solid var(--color-accent);
    border-right: 0.8px solid var(--color-accent);
    // border-bottom: 2px solid var(--color-white);
    background-color: #1c1b1b;
    font-family: "Futura Md BT", sans-serif;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;

    &:hover {
        color: var(--color-accent);
        border-bottom: 2px solid var(--color-accent);
    }
}
