.sideNav {
    z-index: 100;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.7);
    .links {
        height: 100%;
        font-size: 24px;
        border-bottom: 1px solid rgba($color: #fefefe, $alpha: 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        h4 {
            color: white;
        }
    }
}
