.carousel {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    border: 1px solid black;
    max-width: 100%;
    border-radius: 0 1em 1em 0;
    padding: 1em;
}

.swiper-button-prev,
.swiper-button-next {
    color: var(--color-dark);
    background-color: red;
}

.swiper-slide,
.swiper-slide-duplicate {
    box-shadow: 5px 5px 10px rgba($color: #000000, $alpha: 0.3),
        5px 5px 10px rgba($color: #000000, $alpha: 0.25);
    height: 100%;
    aspect-ratio: 0.7273;
    div {
        height: 100%;
        aspect-ratio: 0.7273;
        img {
            height: 100%;
            width: 100%;
        }
    }
}
