:root {
    /* BUTTONS */
    --clr-btn-bg-1: #000000;
    --clr-btn-bg-2: transparent;
    --clr-btn-text-1: #950740;
    --clr-btn-border-1: 2px solid #950740;
    --clr-btn-border-2: transparent;

    --clr-btn-hover-bg-1: #000000;
    --clr-btn-hover-bg-2: transparent;
    --clr-btn-hover-text-1: #ffffff;
    --clr-btn-hover-border-1: 2px solid #ffffff;
    --clr-btn-hover-border-2: transparent;
    /* COLOR THEMES */
    /* CONTAINERS */
    /* FONTS */
}
