.carousel__card-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
}

.card__link {
    width: 70%;
    color: #fff;
    border: 2px solid black;
    background-color: #1c1b1b;
    border-radius: 0%;
    padding: var(--btn-padding-x) var(--btn-padding-y);
    font-family: "Futura Md BT", sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    line-height: normal;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.4em;
    font-weight: 300;
    font-style: normal;

    &:hover {
        color: #950740;
    }
}
