.carousel__card {
    outline: 3px solid #000000;
    max-width: 100%;
    aspect-ratio: 2/3;
    img {
        height: 100%;
        aspect-ratio: 2/3;
        object-fit: cover;
    }
    background-color: #000000;
}

.low-opacity {
    opacity: 0.3;
}
