.authentication-form {
    display: flex;
    flex-direction: column;
    padding-block: 3em;

    .header {
        text-align: center;
        letter-spacing: 0.2em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-bottom: 1em;
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        &-group {
            display: flex;
            flex-direction: column;
        }
        input {
            border-radius: 0.15em;
            border: 1px solid black;
            padding-inline: 0.25em;
            background-color: rgb(224, 224, 224);
            &:focus {
                color: black;
                border: 1px solid #721c24;
                box-shadow: none;
            }
        }
    }
}
